/* *****************HOME*************** */

.head-slide h1 {
  /* color: var(--primary-color); */
  font-size: calc(1.7rem + 1vw);
  font-weight: 600;
}
.head-slide h4 {
  color: var(--primary-color);
}
 
.home-page .head-slide-a {
  background-color: var(--primary-color);
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.home-page .head-slide-a a {
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: none;
}

.dropdown-menu {
  display: none;
}
.navbar-nav li:nth-child(3):hover .dropdown-menu {
  display: block;
}
.main {
  overflow: hidden;
  background: var(--background-color);
  font-family: sans-serif;
  padding: 0 !important;
}

/* ********************Heading-text****************** */
.ikede {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iket {
  position: absolute;
  font-size: calc(3rem + 4vw);
  font-weight: 900;
  opacity: 0.7;
  letter-spacing: 8px;
  color: #8f8e8e4e;
}
.ike {
  font-size: calc(1.8rem + 1vw);
  color: var(--primary-color);
  position: relative;
  z-index: 0;
  font-weight: 900;
}

.aeps {
  background-color: var(--text-color-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  overflow: hidden;
  margin: 15px 0px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}
.aeps img {
  width: 500px;
}
.aeps .learn-more {
  width: 150px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.aeps h2 {
  color: var(--primary-color);
  margin: 15px 0px;
  font-weight: 600;
}
.aeps p {
  /* margin-bottom: 35px; */
  /* height: 70px; */
  font-size: 15px;
  color: #5f5f5f;
  line-height: 1.5em;
}

.load {
  margin-top: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 40px;
  width: 450px !important;
  font-weight: 600;
  font-size: 17px;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 12px;
  color: var(--text-color-black);
}
.welcome h1 {
  position: absolute;
  z-index: 0;
  font-size: calc(3rem + 4vw);
  font-weight: 900;
  opacity: 0.7;
  letter-spacing: 8px;
  color: #8f8e8e4e;
}
.welcome h4 {
  position: relative;
  z-index: 0;
  font-weight: 900;
  font-size: calc(1.6rem + 1vw);
  color: var(--primary-color);
  letter-spacing: 1px;
  /* letter-spacing: 0.3rem; */
}
.welcome p {
  font-size: 16px;
}
.welcome li {
  font-size: 16px;
}
.welcome h2 {
  font-size: calc(1.9rem + 1vw);
  font-weight: 600;
  color: var(--primary-color);
}

.choose {
  color: #242f65;
  font-size: calc(2.5rem + 1vw);
}

.icon i {
  color: var(--primary-color);
  background-color: var(--text-color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 70px;
  font-size: 30px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px 0px; */
}
.icon i:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}
.icon h5 {
  color: var(--primary-color);
  font-weight: 600;
}
.item p {
  margin-top: 15px;
  color: #5f5f5f;
  font-size: 14.5px;
  padding: 0 18px;
}
.icon .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.item div {
  margin: 10px;
}

.customer {
  text-align: center;
  background-color: #ffffff5c;
}
.customer h1 {
  color: var(--text-color-black);
  font-size: calc(2.5rem + 1vw);
  font-weight: 600;
  text-shadow: 3px 2px 2px var(--secondary-color);
}
.customer div {
  border-left: 4px solid var(--primary-color);
  /* height: 40px; */
}

.store {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.store h1 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: calc(2.1rem + 1vw);
}
.store h6 {
  font-weight: bold;
  margin-top: 30px;
}
.store img {
  margin-top: 30px;
  width: 150px;
}
@media screen and (max-width: 767px) {
  .customer div {
    margin: 40px;
  }
}
.testimonial {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  /* left: 140px; */
  justify-content: center;
  align-items: center;
  /* background-color: var; */
}
.testimonial h5 {
  color: var(--primary-color);
}
.testimonial .child-testimonial {
  background-color: #f4f6f7;
  border-radius: 20px;
  width: 800px;
  height: 250px;
  overflow-x: hidden;
  margin: 10px;
  padding: 40px;
  animation: slide 30s linear infinite;
}
@keyframes slide {
  from {
    transform: translate3d(740px, 0, 0);
  }
  to {
    transform: translate3d(-740px, 0, 0);
  }
}
.testimonial img {
  width: 70px;
  border-radius: 50px;
  /* margin-top: 35px; */
}

/********************About*****************************/
.about-page h6 {
  color: var(--primary-color);
}
.about-page .head-slide-content h1 {
  font-size: calc(2rem + 1.3vw) ;
  color: var(--text-color-black);
}
.about-page .head-slide-content p {
  font-size: 16px ;
  text-align: justify;
}
.about-page .head-slide img{
  padding: 10px;
  width: 100%;
}

.vision h4 {
  font-weight: 900;
  font-size: calc(1.73rem + 1vw);
}
.vision p {
  font-size: 16px;
  height: 140px;
}
.whychoose p {
  margin-top: 30px;
}
.whychoose h5 {
  margin-top: 30px;
  color: var(--primary-color);
  font-size: calc(.8rem + 1vw) ;
}
.whychoose i {
  margin-top: 30px;
}
.whychoose .fa {
  background-color: #2575fc;
  color: white;
  font-size: 35px;
  padding-top: 20px !important;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.whychoose .fa:hover {
  border: 2px solid #2575fc;
  background-color: #e3e6f7;
  color: #2575fc;
}
.whychoose .account {
  background-color: #cbe2e5;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0px 0px 9px ;
}
.history h1 {
  position: absolute;
  font-weight: 800;
  opacity: 0.1;
  font-size: calc(3.7rem + 1.6vw);
  margin-top: 30px;
}
.history h6 {
  color: var(--secondary-color);
  font-weight: 900;
  font-size: calc(1rem + 1vw);
  margin-top: 30px;
}
.history h3 {
  position: relative;
  font-weight: 900;
  font-size: calc(1.8rem + 1vw);
  z-index: 0;
  color: #242f65;
}
.history h2 {
  position: relative;
  z-index: 0;
  color: #242f65;
  font-size: 3rem;
}
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-image {
  position: absolute;
  height: 400px;
  width: 97%;
  z-index: -1;
  background-color: #242f65;
}
.text {
  overflow: hidden;
}
.tester {
  margin-top: 140px;
  background-color:#cbe2e5cb;
  opacity: 1.4;
}
.testimonial {
  position: relative;
  z-index: 1;
  width: 99%;
  overflow-x: hidden;
}
.founder .mani img {
  width: 200px;
}
.founder .poor img {
  width: 137px;
}
.founder .raje img {
  width: 120px;
}.founder .inves{
  width: 300px;
}.inves .ins{
  background: #cde7ebad !important;
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.inves .prom{
  height: 150px;
}
.founder .found {
  font-size: 12px;
}


/**************service***********************************/

.micro img, .bus img {
  width: 400px;
}
.micro h6 , .bus h6{
  margin: 30px;
  font-size: calc(.8rem + 1vw);
  font-weight: 800;
}
.micro p {
  margin: 30px;
  height: 200px;
}.bus p{
  margin: 30px;
  height: 20px;
}
.loan img {
  width: 200px !important;
}
.micro div,.bus div {
  border-left: 3px solid#2575fc;
}
.micro a ,.bus a{
  color: #2575fc !important;
  margin: 30px;
  padding: 10px;
}
.micro a:hover,.bus a:hover {
  border-radius: 10px;
  color: white !important;
  background-color: #2575fc;
  margin: 30px;
  padding: 10px;
}

/**************************************************/

/* .recharge-text {
  background-color: #242f65;
  color: white;
  min-height: 340px;
} */
.aboutus,.mutual,.contactus,.privacy,.refund-policy,.terms,
.flight ,.bus-ticket,.service,.utilitys, .credit-pay,.hotel{
  background-image: url(../../assets/images/aboutback.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #14397db9;
  background-blend-mode: darken;
  /* background-color: #5f5f5f; */
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactus{
  background-image: url(../../assets/images/Contactback.png);
}
.terms{
  background-image: url(../../assets/images/termsandconditionback.png);
}
.refund-policy{
  background-image: url(../../assets/images/refundback.png);
}
.privacy{
  background-image: url(../../assets/images/privacyback.png);
}
.mutual{
  background-image: url(../../assets/images/mutualback.png);
}
.hotel{
  background-image: url(../../assets/images/hotelback.png);
}
.credit-pay{
  background-image: url(../../assets/images/creditback.png) !important;
}
.utilitys{
  background-image: url(../../assets/images/utilityback.png);
}
.flight {
  background-image: url(../../assets/images/flightback.png);
}
.service{
  background-image: url(../../assets/images/serviceback.png);
}.bus-ticket{
  background-image:url(../../assets/images/busback.png) ;
}
.aboutus h1,.contactus h1,.bus-ticket h1,.hotel h1,.mutual h1,.privacy h1,.refund-policy h1,.terms h1,
.flight h1 ,.service h1,.utilitys h1,.credit-pay h1{
  font-weight: bolder;
  color: var(--text-color-white);
}
.aboutus p,.contactus p,.bus-ticket p,.hotel p,.mutual p,.privacy p,.refund-policy p, .terms p,
.flight p ,.service p, .utilitys p,.credit-pay p {
  font-weight: bolder;
  color: var(--text-color-white);
}
.micro-atm,.aeps-system,.recharge-bill,.cms-service{
  background-color: #14397db9;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/images/miocroatmback.png);
}
.cms-service{
  background-image: url(../../assets/images/cmsback.png);
}
.aeps-system{
  background-image: url(../../assets/images/aepsback.png) !important;
}.recharge-bill{
  background-image: url(../../assets/images/rechargeback.png) !important;
}

.micro-atm img,.aeps-system img,.recharge-bill img,.cms-service img {
  width: 300px;
}
.micro-atm h4,.aeps-system h4,.recharge-bill h4,.cms-service h4{
  font-weight: bolder;
  color: var(--text-color-white);
}
.micro-atm p,.aeps-system p,.recharge-bill p,.cms-service p{
  font-weight: bolder;
  color: var(--text-color-white);
}

/********************Credit Page*********************/
.credit-page .credit-content p{
  font-size: 16px ;
}
.credit-page h4{
  font-weight: 600;
  font-size: calc(1.2rem + 1vw);
}
.credit-page li{
  font-size: 16px;
  list-style-type: none;
  line-height: 30px;
}
/**************micro-page*******************************/
 .micro-content h3{
  font-size: calc(1.8rem + 1.3vw) ;
  color: var(--primary-color);
}
.micro-content h6{
  font-size: 18px;
}
.micro-content p{
  font-size: 16px;
}.micro-content li{
list-style-type: none;
}
.atm-list li{
  list-style-type: none;
  line-height: 30px;
  font-size: 16px;
}
.atm-list h2{
  font-size: calc(1.2rem + 1.3vw);
}
/************************Aeps-page*******************/
.about-aeps h3{
  font-size: calc(1.8rem + 2vw);
}
.bank-service h3{
  font-size: calc(1.2rem + 1vw);
}
.bank-service p{
  font-size: 18px;
}
/**************rechage-page***********************/
.recharge-page h4{
  color: var(--primary-color);
  font-size: calc(1.2rem + 1vw);
}

/****************Terms-page********************/

.terms-page h3,.terms-page h5{
  border: 1px solid #9b9797;
  background: #e7e7e7;
  font-size: calc(1.2rem + 1vw);
}
.terms-page h5{
  font-size: calc(.6rem + 1vw);
}


/*********************footer*******************************/
.footer {
  background-color: black;
  color: white;
}
.footer p {
  font-size: 17px;
}
.footer h5 {
  font-weight: 800;
}
.footer .info h5 {
  margin-top: 30px;
  font-weight: 800;
}
.footer .info li {
  list-style-type: none;
  line-height: 1.8rem;
}
.footer .info a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/************************************/
.detail .col-md-6 {
  padding: 10px;
}
.detail .col-md-12 {
  padding: 10px;
}
.detail button {
  background-color: #452381;
  color: white;
  display: block;
  margin: auto;
  width: 200px;
}
.button-collapse {
  border: none;
}
.button-collapse:hover {
  background: #54595f;
  color: white;
}
